/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */


   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
     display: block;
   }
   body {
     line-height: 1;
   }
   ol, ul {
     list-style: none;
   }
   blockquote, q {
     quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
     content: '';
     content: none;
   }
   table {
       border-collapse: collapse;
     border-spacing: 0;
   }
   
   /* Style reset end */
   
   /* Main style start */
       
   body {
       font-family: 'Roboto', sans-serif;
   }
   
   .container {
       width: 95%;
       margin: 0 auto;
   }
   
   /* Main style end */
   
   /* Header style start */
   
   header {
       position: fixed;
       width: 100%;
       background: #4E4E4E;
       z-index: 2;
   }
   
   header .container {
       display: flex;
       height: 50px;
       align-items: center;
       justify-content: space-between;
   }
   
   header a {
       font-size: 18px;
       text-decoration: none;
   }
   
   .company-name {
       color: white;
       font-weight: bold;
   }
   
   nav a {
       color: #f1f1f1;
       visibility: hidden;
   }
   
   nav a:nth-child(2) {
       margin: 0 50px;
   }
   
   /* Header style end */
   
   /* Prime section style start */
   
   .prime {
       height: calc(100vh - 50px);
       padding-top: 50px;
       background: url("https://picsum.photos/id/46/1920/1080") center;
       background-size: cover;
       color: white;
   }
   
   .prime .container {
       display: flex;
       height: 100%;
       flex-direction: column;
       justify-content: center;
       align-items: flex-start;
   }
   
   .container hgroup {
       width: 85%;
       font-weight: bold;
   }
   
   .prime-h h1 {
       font-size: 36px;
   }
   
   .prime-h h2 {
       margin: 40px 0;
       font-size: 18px;
   }
   
   .offer-btn {
       padding: 10px 60px;
       border: 3px solid white;
       background: none;
       font-size: 18px;
       font-weight: bold;
       color: white;
       transition: 1s all;
       cursor: pointer;
   }
   
   .offer-btn:hover {
       background: white;
       color: black;
   }
   
   .shadow {
       width: 100%;
       height: 100%;
       background: rgba(0, 0, 0, .3);
   }
   
   /* Prime section style end */
   
   /* About us section style start */
   
   .about-us {
       padding: 50px 0;
       background-color: #F1F1F1;
   }
   
   .about-us h1 {
       color: #152D41;
       font-size: 36px;
       font-weight: bold;
       text-align: center;
   }
   
   .employee {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 50px;
       font-size: 18px;
   }
   
   .employee-img {
       width: 200px;
       height: 200px;
       border-radius: 50%;
       flex-shrink: 0;
       margin-bottom: 60px;
   }

   
   .employee-txt {
       display: flex;
       flex-direction: column;
       justify-content: center;
   }
   
   .employee-right .employee-txt {
    text-align: right;

}

.employee-left .employee-txt {
  text-align: left;

}

   .employee-txt h2 {
       font-weight: bold;
       margin-bottom: 20px;
   }
   
   /* About us section end */
   
   /* Services section starts */
   
   .services {
       padding: 50px 0;
       background: #405D78;
   }
   
   .services h1 {
       padding-bottom: 50px;
       color: white;
       font-size: 26px;
       font-weight: bold;
       text-align: center;
   }
   
   .services-box {
       position: relative;
       display: flex;
       width: 250px;
       height: 250px;
       margin: 20px;
       background-color: #F1F1F1;
       font-size: 28px;
       flex-shrink: 0;
       align-items: center;
       justify-content: center;
       transition: all 0.5s;
   }
   
   .services-group {
       display: flex;
       padding: 0 50px;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
   }
   
   .services-box:hover {
       transform: scale(1.05);
   }
   
   .dot {
       position: absolute; 
       top: -10px;
       left: -10px;
       width: 20px;
       height: 20px;
       border-radius: 100%;
       background-color: #E07A64;
   }
   
   /* Services section end */
   
   /* Footer section starts */
   
   footer {
       height: 140px;
       background-color: #4E4E4E;
   }
   
   footer h1 {
       font-size: 18px;
       font-weight: bold;
       color: white;
       margin-bottom: 5px;
   }
   
   footer .container {
       display: flex;
       height: 140px;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   
   .fab {
       color: white;
       font-size: 31px;
   }
   
   .fa-facebook-square {
       margin-left: 18px;
   }
   
   /* Contact section style start */
   
   .contact {
       height: calc(100vh - 50px);
       padding-top: 50px;
       background: url("https://picsum.photos/id/1029/1920/1080") center;
       background-size: cover;
       color: white;
   }
   
   .contact .container {
       display: flex;
       height: 100%;
       padding-top: 30px;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   
   address {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-bottom: 50px;
   }
   
   address h1 {
       font-size: 25px;
       font-weight: bold;
       margin-bottom: 10px;
   }
   
   address p {
       margin-top: 10px;
       font-size: 18px;
   }
   
   .map {
       width: 85%;
       height: 250px;
       margin: 0 auto; 
       border: 20px solid white;
   }
   
   iframe {
       width: 100%;
       height: 100%;
   }
   